.container {
  background: url(../../../IMG/bg_-_mobile.jpg) no-repeat top center/cover;
  margin: 0;
  width: 100vw;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo {
  color: white;
}

.box {
  max-width: 600px;
  width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box p {
  color: white;
  margin-top: 30px;
}

.box form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.box button {
  background-color: #4870ff;
  border-radius: 21px;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.box input {
  padding-left: 10px;
}
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

.butoes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
