.container {
  background: url(../../../IMG/bg_-_mobile.jpg) top center/cover;
  background-repeat: repeat-y; 
  margin: 0;
  width: 100%;
  /* height: calc(100vh - 120px); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pesquisa div{
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 0 10px;
}
.pesquisa input{
  padding-left: 15px;
  border: none;
  height: 35px;
  border-radius: 15px;  
}
.pesquisa span{
  cursor: pointer;
}

.box h1 {
  color: white;
  position: relative;
  right: 800px;
  margin-top: 60px;
}

.box h2{
  font-size: 20px;
  color: white;
  padding: 5px;   margin: 5px;   text-align: left
}

.box {
  max-width: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.box img {
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cardJogo {
  width: 30%;
  padding: 20px;
  margin: 20px;
  text-align: left;
}
