.container {
  background: url(../../../IMG/bg_-_mobile.jpg) no-repeat top center/cover;
  margin: 0;
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box h1 {
  color: white;
  position: relative;
  right: 800px;
  margin-top: 60px;
}

.box h2{
  font-size: 20px;
  color: white;
  padding: 5px;   margin: 5px;   text-align: left
}

.box {
  max-width: 1200px;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.box img {
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cardJogo {
  width: 30%;
  padding: 20px;
  margin: 20px;
  text-align: left;
}

.btnPlat{
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  position: relative;
  background-color: #4870FF;
  border-radius: 21px;
  justify-content: center;
  bottom: 350px;
  left: 50px;
}

.btnJogo{
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  position: relative;
  background-color: #4870FF;
  border-radius: 21px;
  justify-content: center;
  bottom: 350px;
  left: 100px;
}

.btnSair {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4870ff;
  border-radius: 21px;
  width: 90px;
  height: 50px;
  border: none;
  cursor: pointer;
  position: relative;
  top: 350px;
  left: 50px;
}
